*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}
body{
    background-color: #d6e4f0;
}
#main {
  width: 100%;
  height: 50px;
  border: 1px solid black; 
  display: flex;
  align-items: center; 
  float: right;
  justify-content: space-evenly;
  background-color: #163172;
  margin-bottom: 10px;
}

.home{
  

  padding: 10px;
  display: flex;
  float: left;
  font-size: 17px;
  font-weight: 600;
}
.item{
  

  padding: 8px;
  display: flex;
  font-size: 17px;
  font-weight: 600;
}

.login{
  display: flex;
  font-size: 15px;
  float: right;
  
  width: 70px;
  height: 25px;
   
  display: flex;
  align-items: center; 
  float: right;
  justify-content: center;
  font-size: 17px;
  font-weight: 600; 
  
}
.register{
  
   
  display: flex;
  align-items: center; 
  float: right;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
 
}

.heading{
    width: 100%;
    height: 70px;
    
  
    color:rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    
}
#heading{
  margin: auto;
    width: 100%;
    height: 40px;
   
    color:rgb(11, 11, 11);
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    
}
#info{
    color: rgb(8, 8, 8);
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    flex-direction: row wrap;
    align-items: flex-start;
    align-content: flex-start;

}
.sec_row{
    border-radius: 5px;
    background-color: #f2f2f243;
    padding: 20px;
    margin-left: 30%;
    margin-right: 20%;
    width: 42%;
    height: 350px;
   
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
  
}
.second{
    border-radius: 5px;
    width: 100%;
    height: 60px;
    background-color: #d6e4f0;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-end;
    align-content: center;
    justify-content:space-around;
    float: left;
    
    
}
.Fiscal{
    width: 30%;
    height: 100px;
    background-color: #d6e4f0;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    float: right;
    
    

}
.income{
    width: 30%;
    height: 350px;
    background-color: #ec1e1e00; 
    margin-left: 70px; 
    margin-bottom: 50px;
    
  

   
}
.col_4{
    width: 30%;
    height: 350px;
    background-color: #f31e1e00;
    margin-left: 100px;

    float: left;
}

.third_row{
    border-radius: 5px;
    background-color: #f2f2f232;
    padding: 20px;
    margin-left: 30%;
    margin-right: 20%;
    width: 42%;
    height: 150px;
    
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    
}

.total{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #d6e4f0;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: center;
    align-content: center;
    justify-content:space-around;
    float: left;
}

.foot{
    background-color: #014987;
    height: 50px;
    color: azure;
    text-align: center;
    padding: 8px;
    bottom: 0;
    position: fixed;
    width: 100%;  
}
#reset{ 
    background-color: #af684c;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;   
        border-radius: 3px;
  
}
#calculate
    {
        background-color: #4CAF50;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 3px;
        
      }
      #row_5{
        width: 50%;
        height: 50px;
        background-color: #f3101000;
        display: flex;
        flex-wrap: wrap ;
        flex-direction: row wrap;
        align-items: flex-end;
        align-content: flex-start;
        float: left;
        

      }
      #button{
        width: 50%;
        height: 50px;
        background-color: #f5fbff00;
        display: flex;
        flex-wrap: wrap ;
        flex-direction: row wrap;
        align-items: flex-end;
        align-content: flex-start;
        justify-content: end;
        float: left;
        
      }
      #note{
        color: rgb(8, 8, 8);

        text-decoration: none;
        display: flex;
        font-size: 16px;
        flex-direction: row wrap;
        align-items: flex-start;
        align-content: flex-start;
    

      }
      .social{
        
        margin-top: 5px;
        color: azure;
        text-align:center;
        justify-content: flex-start;
        bottom: 0;
        position: relative;
        width: 100%;  
    }
      .fa {
        padding: 5px;
        font-size: 10px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        
      }
      
      .fa:hover {
          opacity: 0.7;
      }
     
      .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 120px;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 120px;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
        border-radius: 120px;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
        border-radius: 120px;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
        border-radius: 120px;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
        border-radius: 120px;
      }
      