*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e0e0e0;
}
.container{
    width: 100%;
    height: 60px;
    background-color: #00a3ff;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    justify-content: center;
    align-items: flex-start;
    
}
.item{
    padding: 20px;
    font-size: 20px;
    text-decoration-style: none;
    color: black;

}
.heading{
    width: 100%;
    height: 40px;
    background-color: #f7ffff;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    justify-content: center;
    align-items: flex-start;
    
}
.sec_row{
    margin-left: 25%;
    margin-right: 25%px;
    width: 50%;
    height: 500px;
    background-color: #e6e6e6;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    float: left;
    
    
}
.second{
    width: 70%;
    height: 100px;
    background-color: #81cdff;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    align-content: center;
    float: left;
    
    
}
.Fiscal{
    width: 30%;
    height: 100px;
    background-color: #81cdff;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    align-content: center;
    float: right;
    
    

}
.income{
    width: 50%;
    height: 400px;
    background-color: #c0c4c7;
   
    
    float: left;
}
.col_4{
    width: 50%;
    height: 400px;
    background-color: #c0c4c7;
   
    
    float: left;
}
.third{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 10px;
    background-color: #e6e6e6;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    float: left;
    
}
.third{
    margin-left: 25%;
    margin-right: 25%px;
    width: 50%;
    height: 100px;
    background-color: #e6e6e6;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
 
    
    
}

.total{
    width: 100%;
    height: 50px;
    background-color: #7cc2f8;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    align-content: center;
    float: left;
    
    
   
    
    float: left;
}
.foot{
    background-color: #00a3ff;
    color: azure;
    text-align: center;
    padding: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;  
}
#reset{    
    width: 80%;
    height: 50px;
    background-color: #81cdff;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-start;
    align-content: center;
    float: left;
}
#calculate{    
    width: 20%;
    height: 50px;
    background-color: #81cdff;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    align-items: flex-end;
    align-content: center;
    float: right;
}

