

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#d6e4f0 ;
}
.container{
    width: 100%;
  height: 50px;
  border: 1px solid black; 
  display: flex;
  align-items: center; 
  float: right;
  justify-content: space-evenly;
  background-color: #163172;
  margin-bottom: 100px;
  color: white;
  
    
}
.item{
    padding: 20px;
    font-size: 18px;
    text-decoration-style: none;
    font-weight: 400;
    
}


.foot{
    background-color: #014987;
    height: 50px;
    color: azure;
    text-align: center;
    padding: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;  
}

#heading{
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-style: arial;
    text-align: center;
} 
.login{  
        width: 300px;  
        overflow: hidden;  
         padding: 30px;
        height: 300px;  
        background: #efefefed;  
        border-radius: 5px ; 
        margin-top: 100px;
        margin-left: 40%; 
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #131313;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(253, 250, 250);
    background-color: #014987;
    
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  

 