
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d6e4f0;
}
#main{
    width: 100%;
    height: 100px;
    border: 1px solid black; 
    display: flex;
    align-items: center; 
    float: right;
    justify-content:center;
    background-color: #163272;
    
  }
  
  .home{
    
  
    padding: 20px;
    display: flex;
    float: left;
    font-size: 18px;
    
    background-color: #04aa6d;
    
  
  }
  .news{
    
  
    padding: 20px;
    display: flex;
    float: left;
    font-size: 18px;
   
  }
  .item{
    
  background-color: #04aa6d00;
    padding: 16px;
    display: flex;
    font-size: 18px;
    
    justify-content: center;
    align-items: center;
    align-content:center;
    
  }
  
  .login{
    display: flex;
    font-size: 18px;
    float: right;
    padding: 20px;
    width: 70px;
    height: 25px;
     
    display: flex;
    align-items: center; 
    float: right;
    justify-content: center;
    font-weight: 400; 
    
  }
  .Contactus{
    
     
    display: flex;
    align-items: center; 
    float: right;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
   
  }
  
  .heading{
      width: 100%;
      height: 100px;
      color:rgb(0, 0, 0);
      display: flex;
      flex-wrap: wrap ;
      flex-direction: row wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      
      
      
  }
  #heading{
    margin: auto;
      width: 100%;
      height: 40px;
     
      color:rgb(11, 11, 11);
      display: flex;
      flex-wrap: wrap ;
      flex-direction: row wrap;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      
  }

.box1{
    width: 100%;
    height: 10px;
    background-color: #f5fbff00;
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: flex-start; 
    z-index: 1; 
}
#img{
    justify-content: center;
    height: 600px;
    margin-top: 10px;
    margin-right: 150px;
    width: 900px;
}
.foot{
    background-color: #1e56a0;
    height: 50px;
    color: azure;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    bottom: 0;
    position: fixed;
    z-index: 4;
    
}
#pp{
    margin-right: 10px;
}
#p{
    margin-left: 10px;
}

#text{
    padding: 0;
    margin: 0;
    text-align: center;
    
}

#myDIV {
    width: 60%;
    height: 1200px;
    background-color:#ffffffcb;
    text-align: center;
    margin-left: 17%;
   margin-top: 20px;
   z-index: 2;
    
    
    
    
  }

  /* Login part */
  #pp{
    margin-right: 10px;
}
#p{
    margin-left: 10px;
}

#heading{
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-style: arial;
    text-align: center;
} 
.loginn{  
        width: 300px;  
        overflow: hidden;  
         padding: 30px;
        height: 300px;  
        background: #efefef00;  
        border-radius: 5px ; 
        margin-top: 200px;
        margin-left: 40%; 
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #131313;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(253, 250, 250);
    background-color: #014987;
    
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
} 
.hello{
  display: flex;
  background-color: #dddddd;
  width: 100%;
  height: 30px;
  float: right;
  justify-content: end;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    
    color: rgb(0, 0, 0);
    padding: 4px 4px;
    border: none;
    cursor: pointer;
   background-color: #bdc2c9;
    padding: 4px;
    display: flex;
    opacity: 0.8;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    z-index: 9;
    
    
    float: right;
    
    right: 28px;
    width: 70px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    float: right;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 8;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 310px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    margin-right: 10px;
    z-index: 7;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    border: none;
    background: #cfcfcfd3;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
   
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(250, 3, 3);
    border-radius: 6px;
    border-width: 20px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  h1{
      font-size: 15px;
      text-align: center;
  }

 

 
 
  
 
 